body {
	background-color: #0100a0;
	color: white;
}
.modal-content {
	color: black;
}
.header {
	height: 50%;
}
#jeopardy-logo {
	width: 50%;
}
.scoreboard {
	text-align: right;
	margin-right: 10%;
}

.container {
	background-color: blue;
	border: 3px solid black;
	width: 30%;
}

.category-title {
	text-align: center;
}


.col {
	display: flex;
	flex-direction: column;
}

.divs{
	height: 20%;
	width: 30%;
	text-align: center;
	border: 1px solid yellow;
}